.body{
    font-family: Georgia;
    color: #222222;
  
}

.headerLogo{
    height: 80px;
    padding-top: 10px;
}

.navWrapper{
    background-color: #3355aa;
    font-style: italic;
}

.navWrapper ul{
        line-height: 40px;
        color: white;
}

.navWrapper ul li a{
    border-right: 1px solid #3d3d3d;
}

.container p{
    font-size: 14px;
    font-style: italic;
}



.textFormat{
    list-style: none;
}

.contentsWrapper h4{
    font-size: 16px;
     border-bottom: 2px solid yellow;
    padding-bottom: 10px;
    color: #3355aa;
}

.contentsWrapper{
    font-size: 14px;
    padding: 35px 0 45px 0;
}

.contentsWrapper .shadowBorder{
    box-shadow: 2px 2px 2px 2px gray;
    padding: 10px;
    text-align: center;
}

.contentsWrapper .spanWrap{
    font-size: 10px;
}

.SectorsWrapper{
    background-color:lightgrey;
    padding-bottom: 75px;
}

.SectorsWrapper h1{
    font-size: 28px;
    padding: 25px 0;
    text-align: center;
}

.SectorsWrapper h4{
    font-size: 16px;
    text-align: center;
    padding: 0 36px;
    color: #3355aa;
}

.SectorsWrapper .row .thumbnailSize{
    height: 250px;
    background-color:darkgrey;
}

.SectorsWrapper .row .borderBox{
    border-width: 2px 2px 2px 2px;
}

.SectorsWrapper .row .boxInfo{
    background-color: white;
    padding: 5px;
}

.footerWrap{
    background-color: #333333;
    padding-top: 15px;
    padding-bottom: 36px;
}

.footerBar{
    border-bottom: 1px solid #3d3d3d;
}

.footerWrap ul{
    font-size: 14px;
}

.footerWrap ul li{
    text-decoration: none;
    list-style: none;
    
}

.footerWrap a{
    color: grey;
}

.footerWrap a:hover{
    color: white;
}

.rightContent{
    font-size: 11px;
}

.footerWrap .active{
    color: white;
}
.copyrightWrap h6{
    font-size: 11px;
    color: grey;
}